# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Custom ingores
.idea
.idea/*
profiles/*
!profiles/default
sites/*
!sites/all
!sites/default
